*{
    margin: 0;
    padding: 0;
}

/*BARRA DE NAVEGACIO*/
nav.navbar.navbar-expand-lg.navbar-dark{
    background-color: #2eceae;
    margin-bottom: 20px;
}

a.nav-link.active:hover{
background-color: gray;
}

/*CARRUSEL*/
img{
    height: 400px;
}


div h2.one-title{
    margin-top: 10px;
    text-align: center;
    color: grey;
}

.titol{
color: gray;
margin-left: 10px;
}

button.carousel-control-next{
    background-image:linear-gradient(to left,#18bc9c 0%,#DBFBF4 100%);

}


button.carousel-control-prev{
    background-image:linear-gradient(to right,#18bc9c 0%,#DBFBF4 100%);
}


/*TEXT ARTICLES*/
.text{
    margin-left: 10px;
}




.panel-footer {
color: #fff;
background-color: #18bc9c;
height: 50px;
text-align: center;
} 


#text-peu{
  margin-bottom: 0;
  padding-top: 10px;
}